<!--


-->


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <div style="margin-left:60px; margin-top: 30px" id="app">
        <div class="conteiner">
            <h1 ref="title">{{titulo}}</h1>
            <!-- "router-link" forma de se criar o link para navegar entre os elementos -->
            <ul>
                <li>
                    <!--estou dando bind(:) no "to" para ele dar bind no objeto montado do VueRouter -->
                    <router-link :to="{name: 'transName'}">trans</router-link>
                </li>
                <li>
                    <router-link :to="{name: 'gotName'}">got</router-link>
                </li>
            </ul>
            <!-- "router-view" elemento root para os componentes serem renderizador -->
            <router-view></router-view>
        </div>
    </div>
    <template id="transformers">
        <div>
            <div class="row">
                <div class="col">
                    <h1>transformers</h1>
                    <ul>
                        <li v-for="item in itens">
                            <!-- 
                                "name" nome da rota definida
                                "name detro do params" nome da rota amigavel"(e o que vai aparecer na url)
                            -->
                            <router-link :to="{name: 'transformesContent', params:{ name:item.slug, id:item.id }}">{{item.name}}</router-link>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <router-view></router-view>
                </div>

            </div>
        </div>
    </template>

    <template id="gameofthones">
        <div>
            <h1>game of thrones</h1>
            <ul>
                <li v-for="item in itens">{{item}}</li>
            </ul>
        </div>

    </template>

    <template id="transformesContent">
        <div>
            <h3>conteudo transformes</h3>
            <!-- exibe o parametro que foi fapassado para esta rota -->
            {{ $route.params }}
        </div>
    </template>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script>
        var transVar = Vue.component('transformer', {
            template: '#transformers',
            data() {
                return {
                    itens: [
                        { id:1, name: 'Optmus Prime', slug: 'optmus-prime' },
                        { id:2, name: 'Bumble Bee', slug: 'bumble-bee' },
                        { id:3, name: 'Megatron', slug: 'megatron' }
                    ]
                }
            }
        });

        var gotVar = Vue.component('got', {
            template: '#gameofthones',
            data() {
                return {
                    itens: ['jon', 'daneris', 'sarci']
                }
            }
        });

        var TransformesContent = Vue.component('transformes-content', {
            template: '#transformesContent',
        });

        var router = new VueRouter({
            //mode:'history',//nao funcionou mas serviria pra tirar a # da url
            routes: [//name e o nome que vai ser usado para colocar no elemento router-link, isso e uma boa pratica para nao ter que ficar auterando em um monte de lugars a referencia
                {
                    path: '/trans',
                    component: transVar,
                    name: "transName",
                    children: [
                        { path: ':name', name: 'transformesContent', component: TransformesContent }
                    ],
                },
                { path: '/got', component: gotVar, name: 'gotName' }
            ]
        })

        var app = new Vue({
            el: "#app",
            router,
            created() {
               console.log(this.$router)//e o objeto que o plugn vue-router tem pra mexer nas rotas
               console.log(this.$route)//tem o valor da rota atual

                //"push" faz ir para uma url definida
               his.$router.push({name: 'transformesContent', params:{ name:'megatron', id:3 }})
               this.$router.push('/trans/transformesContent')//tambem existe esta forma
            },
            data: {
                titulo: "titulo da minha pagina",
                movie: '',
            },
        });
    </script>
</body>

</html>